<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.singularsampleapp">

    <!--  This permission is needed to use internet connectivity, your app probably already has this  -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  This permission is needed to check if there's an active internet connection  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">

        <!--  Handle deeplinks using the MainActivity, you can also handle on a separate activity  -->
        <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

            <!--  These tags will enable this activity to be opened with a Singular Link using the "singular://" scheme  -->
            <data android:scheme="singular" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
